<header>

  <mat-toolbar color="primary" >
    <mat-icon> insert_chart</mat-icon> dataviz

    <div class="spacer" >
      <a mat-button  routerLink="/home/acceuil"> acceuil </a>
      <a mat-button routerLink="/home/projects"> projets</a>
      <a mat-button routerLink="/home/dashboard">dashboard</a>
      <a mat-button   *ngIf="!isLogged"  routerLink="/home/users">utilisateurs</a>
    </div>
    <a mat-raised-button color="accent" *ngIf="!isLogged" routerLink="/signin">se connecter</a>
    <a mat-raised-button color="accent" *ngIf="isLogged" (click)="LogOut()">se déconnecter</a>

  </mat-toolbar>


</header>
