<h3 mat-dialog-title>ajouter un projet</h3>

<mat-card>
  <mat-card-content>

    <form class="example-form" [formGroup]="addProjectForm">

        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>name</mat-label>
                <input matInput formControlName="name">
              </mat-form-field>
           </td>
           <td>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>date de creation</mat-label>
              <input matInput type="date" formControlName="created">
            </mat-form-field>
          </td>

         </tr>
        </table>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>description</mat-label>
          <input matInput  formControlName="description">
        </mat-form-field>


         <div mat-dialog-actions>
          <button mat-button  [disabled]="addProjectForm.invalid" [mat-dialog-close]="1" (click)="saveAdd()">sauvgarder</button>
          <button mat-button (click)="onNoClick()" tabindex="-1">quitter</button>
        </div>
      </form>
  </mat-card-content>
</mat-card>







