
<div class=" content">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">

    <a class="btn btn-md btn-primary " routerLink="/AddProject">
         crée un nouveau projet</a>
       </div>
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">liste des utilisateurs</h4>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <th>id projet</th>
                  <th>nom du projet</th>
                  <th>date de creation   </th>
                  <th>description </th>
                  <th>les dashboard</th>
                  <th >edit</th>
                  <th >delete</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let project of projects">
                  <td>{{project.idProject}} </td>
                  <td>{{project.ProjectName}}</td>
                  <td>{{project.category}}</td>
                  <td>{{project.dateCraction}}</td>
                  <td>{{project.description}} </td>
                  <td>{{project.lesDashboard}}</td>
                  <td><i class="fas fa-edit"> </i></td>
                  <td> <i class="fas fa-trash"></i> </td>

              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>




