
  <h3 mat-dialog-title>identifiant de l'utilisateur: {{id}}</h3>

  <mat-card>
    <mat-card-content>

      <form class="example-form" [formGroup]="userEditForm">

          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Firstname</mat-label>
                  <input matInput formControlName="firstname">
                </mat-form-field>
             </td>
             <td>
               <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>lastname</mat-label>
                <input matInput  formControlName="lastname">
               </mat-form-field>
             </td>
           </tr>
          </table>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Address</mat-label>
            <input matInput  formControlName="adresse">
          </mat-form-field>

          <table class="example-full-width" cellspacing="0">
           <tr>
             <td>
              <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput formControlName="dateBirth" [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

             </td>
             <td>
               <mat-form-field class="example-full-width" appearance="fill">
                 <mat-label>type user</mat-label>
                 <input matInput  formControlName="type">
               </mat-form-field>
             </td>
           </tr>
          </table>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
            <mat-error *ngIf="userEditForm.hasError('email') && !userEditForm.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="userEditForm.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>username</mat-label>
                  <input matInput  formControlName="username">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>password</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'"  formControlName="password" >
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
              </td>
            </tr>
           </table>

           <div mat-dialog-actions>
            <button mat-button  [disabled]="userEditForm.invalid" [mat-dialog-close]="1" (click)="saveEdit()">sauvgarder</button>
            <button mat-button (click)="onNoClick()" tabindex="-1">quitter</button>
          </div>
        </form>



    </mat-card-content>
  </mat-card>







  <!--<div class="register pt-80 pb-80">
    <div class="container">
        <div class="row">

            <div class="col-12" >
                <h3 class="title text-capitalize mb-30 pb-25">crée un compte</h3>
                <div class="log-in-form">
                  <h3 mat-dialog-title>ajouter un utilisateur</h3>

                  <form class="mat-dialog-content"   [formGroup]="signUpForm" >

                    <div class="example-container">

                      <mat-form-field appearance="fill" >
                        <mat-label>firstname</mat-label>
                        <input matInput formControlName="firstname">
                      </mat-form-field>

                      <mat-form-field appearance="fill" >
                        <mat-label>lastname</mat-label>
                        <input matInput formControlName="lastname">
                      </mat-form-field>
                    </div>

                   <div class="example-container">
                       <mat-form-field appearance="fill" >
                           <mat-label>adresse</mat-label>
                           <input matInput formControlName="adresse">
                       </mat-form-field>

                       <mat-form-field appearance="fill" >
                        <mat-label>date de nessance</mat-label>
                        <input matInput formControlName="dateBirth">
                      </mat-form-field>


                  </div>

                  <div class="example-container">
                       <mat-form-field appearance="fill" >
                           <mat-label>type user</mat-label>
                           <input matInput formControlName="type">
                       </mat-form-field>

                      <mat-form-field appearance="fill" >
                        <mat-label>email</mat-label>
                        <input matInput formControlName="email">
                      </mat-form-field>
                    </div>

                    <div class="example-container">


                      <mat-form-field appearance="fill" >
                        <mat-label>username</mat-label>
                        <input matInput formControlName="username">
                      </mat-form-field>


                      <mat-form-field appearance="fill">
                        <mat-label>password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'"  formControlName="password" >
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                      </mat-form-field>
                    </div>

                    <div mat-dialog-actions>
                      <button mat-button  [disabled]="signUpForm.invalid"  (click)="saveAdd()">sauvgarder</button>

                    </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
  </div>
  -->









